// Every page should have a class on the body
// Scope that in each file at the start
body._pdp {
  .Breadcrumb {
    padding:10px;
    li{ 
      display: inline-block;
      font-weight: bold;
      &:after{
        Content: " >> "
      }
    }
    > ul:nth-of-type(2){ display:none;}
  }
  ._newTitle {
    text-align: left;
    color: $white;
    font-weight: bold;
    padding: 10px;
    background-color: $red1;
  }

#ProductDetails { padding: 10px;} 
#ProductDescription{ padding: 10px;}
.DetailRow {
  margin: 10px 0;
}
.BulkDiscount { margin-top: 10px; text-align: center;}

 .ImageCarouselBox{ display: none;}
} //pdp
